.main__empresa{
    margin-top: 150px;
}

.ubicacion{
    background: $miColorVerde;
    color: $miColorBeige;  
    width: 600px; 
    height: 550px;
    padding: 16px;
    border: none;
    border-radius: 10px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 5.5);    
    margin-right:auto;
    margin-left:auto;
    margin-top: 40px;
    margin-bottom: 40px;
}

.ubicacion__mapa{
    width: 600px;
    height: 490px;
}

.ubicacion__titulo{
    padding-bottom: 20px;
}

.empresa_p{
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}

.contenedor-instalaciones{
    margin: 40px;
    border: 3px solid $miColorBeige;
    padding: 1rem;
    height: 450px;
    border-radius: 10px;

    @include display-grid-center; 

    justify-items: stretch;
    align-items: stretch;

    gap: 1rem;
}

.contenedor-eventos{
    margin: 40px;
    border: 3px solid $miColorBeige;
    padding: 1rem;
    height: 450px;
    border-radius: 10px;

    @include display-grid-center;

    justify-items: stretch;
    align-items: stretch;

    gap: 1rem;    
}