.main__empresa{
    margin-top: 150px;
}

.ubicacion{
    background: $miColorVerde;
    color: $miColorBeige;  
    width: 600px; 
    height: 550px;
    padding: 16px;
    border: none;
    border-radius: 10px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 5.5);    
    margin-right:auto;
    margin-left:auto;
    margin-top: 40px;
    margin-bottom: 40px;
}

.ubicacion__titulo{
    padding-bottom: 20px;
}

.empresa_h1{
    text-align: center;
}

.empresa_p{
    text-align: center;
    /* display: inline-block; */
    margin-left: 10px;
    margin-right: 10px;
}

.contenedor-instalaciones{
    margin: 40px;
    border: 3px solid $miColorBeige;
    padding: 1rem;
    height: 450px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: repeat(2, 200px);

    justify-items: stretch;
    align-items: stretch;

    justify-content: center;
    align-content: center;
    gap: 1rem;
}

.contenedor-eventos{
    margin: 40px;
    border: 3px solid $miColorBeige;
    padding: 1rem;
    height: 450px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: repeat(2, 200px);

    justify-items: stretch;
    align-items: stretch;

    justify-content: center;
    align-content: center;
    gap: 1rem;    
}