/* Tablet */
@media screen and (max-width:1023px){
    .header{
        flex-direction: row;
    }

    .header__titulo{
        display: none;
    }

    .nav{
        margin-bottom: 20px;
        flex-direction: row;
        justify-content: center;        
        align-items: space-between; 

    }

    .nav__ul{
        flex-direction: row;
        justify-content: center;
    }

    .inicio{
        width: 100%;
        height: 300px;
        margin-top: 120px;
    }

    .inicio__h2{
        font-size: 40px;
    }

    .contenedor{
        width: 100%;
        height: 800px;
        display: flex;
        flex-direction: column;
        align-content: center;
    }

    .borde-img{
        height: 200px;
        width: 300px;
        padding: 0px;
    }

    .contenedor1{
        width: 100%;
        height: 400px;
        display: flex;
        flex-direction: column;
        align-content: center;
    }

    .contenedor1__texto{
        padding-bottom: 10px;
    }

    .card {
        height: 350px;
    }

    .faq{
        height: 900px;
    }

    .faq__pregunta{
        font-size: 20px;
    }

    .faq__respuesta{
        font-size: 18px;
    }

    .main__empresa{
        margin-top: 140px;
    }

    .main_contenedor{
        margin-top: 20px;
    }
    .contacto{
        margin-top: 165px;
    }

    .main__faq{
        margin-top: 165px;
    }
}

/* Movil */
@media screen and (max-width:599px){
    .header__titulo{
        display: none;
    }

    .nav{
        display: none;
        background-color: $miColorVerde;
        position: fixed;
        z-index: 1000;
        top: 0;
        left: 0;
        width: 100%;
        height: 168px;
    }

    .header__icono{
        display: block;
    }

    .icon__cerrar{
        display: block;
    }

    .icon__cerrar:hover{
        cursor: pointer;
    }

    .nav:target {
        display: block;
    }

    .header{
        flex-direction: column;
        justify-content: flex-end;

    }
        

    .main__faq{
        margin-top: 180px;
    }
    .contacto{
        margin-top: 165px;
    }
    
    .nav__ul{
        margin: 0px;
        margin-top: 5px;
        padding: 0px;
        flex-direction: column;
        justify-content: center;
    }

    .header__a{
        padding-left: 0px;
    }

    .inicio{
        width: 100%;
        height: 300px;
        margin-top: 165px;
    }

    .inicio__h2{
        font-size: 40px;
    }

    .contenedor1{
        width: 100%;
        height: 600px;
        display: flex;
        flex-direction: column;
        align-content: center;
        margin-bottom: 180px;
    }

    .contenedor1__texto{
        padding-bottom: 30px;
    }

    .borde-img{
        height: 200px;
        width: 300px;
        padding: 0px;
    }

    .pago__img{
        width: 90%;
        margin-left: 10px;
        margin-right: 10px;
    }
    .main_contenedor{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
    }

    .main_contenedor{
        margin-top: 100px;
    }

    .contacto__formulario{
        width: 100%;
    }
    .faq{
        height: 900px;
    }

    .faq__pregunta{
        font-size: 14px;
    }

    .faq__respuesta{
        font-size: 12px;
    }

    .ubicacion{
        width: 250px; 
        height: 250px;    
    }

    .ubicacion__mapa{
        width: 250px; 
        height: 190px;    
    }

    .contenedor-instalaciones {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, 200px);
        align-content: stretch;
        height: auto;
    }

    .contenedor-eventos {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, 200px);
        align-content: stretch;
        height: auto;
    }

    .main__empresa{
        margin-top: 165px;
    }

    .main_contenedor{
       margin-top: 10px;
    }

    .main__menu{
        margin-top: 165px;
    }

    .tamanio{
        width: 200px;
        height: 200px;
    }

    .tam{
        justify-content: center;
        width: 230px;
        margin-top: 5px;
     }

     .container{
        height: 550px;
     }
}